<script setup>
import { ref } from 'vue'
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { ChevronDownIcon } from '@heroicons/vue/solid'
import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from '@headlessui/vue'
import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid'

defineProps({
  msg: String
})

const cities = [
  {
    id: 1,
    name: 'Орехово-Зуево',
  },
  {
    id: 2,
    name: 'Воскресенск',
  }
]

const selected = ref(cities[0])
const count = ref(0)
</script>

<template>
  <div>
    <Listbox class="mx-2 bottom-0 -z-1" as="div" v-model="selected">
      <div class="mt-1 relative  w-36">
        <ListboxButton
          class="relative w-fit rounded-sm bg-white shadow-sm px-5 py-3  text-left  focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  ">
          <span class="flex items-left">
            <span class="block truncate">{{ selected.name }}</span>
          </span>
        </ListboxButton>

        <transition leave-active-class="transition ease-in duration-100" leave-from-class="opacity-100"
          leave-to-class="opacity-0">
          <ListboxOptions
            class="absolute z-10 m-1 y w-fit bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
            <ListboxOption as="template" v-for="city in cities" :key="cities.id" :value="city"
              v-slot="{ active, selected }">
              <li
                :class="[active ? 'text-white bg-indigo-600' : 'text-gray-900', ' select-none relative py-2 pl-3 pr-9']">
                <div class="flex items-center">

                  <span :class="[selected ? 'font-semibold' : 'font-normal', 'ml-3 block truncate']">
                    {{ city.name }}
                  </span>
                </div>

                <span v-if="selected"
                  :class="[active ? 'text-white' : 'text-indigo-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                </span>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>

    <h1>{{ msg }}</h1>

    <p>
      Recommended IDE setup:
      <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
      +
      <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
    </p>

    <p>
      <a href="https://vitejs.dev/guide/features.html" target="_blank">
        Vite Documentation
      </a>
      |
      <a href="https://v3.vuejs.org/" target="_blank">Vue 3 Documentation</a>
    </p>

    <button type="button" @click="count++">count is: {{ count }}</button>
    <p>
      Edit
      <code>components/HelloWorld.vue</code> to test hot module replacement.
    </p>
  </div>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
