

<template>
  <div class=" grid z-50 sticky   flex-col min-h-screen ">
    <Menu as="div"  v-for="person in catalogs">
      <div class=" flex justify-center flex-row text-left align-baseline">
        <MenuButton 
          class="inline-flex   w-16   px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none ">
          <img :src="person.source" alt="" />
        </MenuButton>
    

      <transition enter-active-class="  transition ease-out duration-100"
        enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
        leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100"
        leave-to-class="transform opacity-0 scale-95">
        <MenuItems
          class=" block bottom-auto  w-[37rem] z-50  left-14 shadow-lg bg-white ring-black ring-opacity-5 focus:outline-none">
          <div class="p-3 overflow-clip object-cover ">
            <MenuItem v-slot="{ active }">
            <p href="#"> {{ person.name }}</p>
            </MenuItem>
            <MenuItem v-slot="{ active }">
            <a href="#"
              :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">Support</a>
            </MenuItem>
            <MenuItem v-slot="{ active }">
            <a href="#"
              :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">License</a>
            </MenuItem>
            <form method="POST" action="#">
              <MenuItem v-slot="{ active }">
              <button type="submit"
                :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block w-full text-left px-4 py-2 text-sm']">Sign
                out</button>
              </MenuItem>
            </form>
          </div>
        </MenuItems>
      </transition>
        </div>
    </Menu>
  </div>
</template>

<script setup>
import { ref, vShow } from 'vue'
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { ChevronDownIcon } from '@heroicons/vue/solid'
const showModal = ref(false)


const props = defineProps({
  show: Boolean
})


const isOpen = ref(false)


const catalogs = [
  {
    id: 1,
    name: 'Подарки',
    source: 'src/img/icon/icon-gift.png'

  },
  {
    id: 2,
    name: 'Лампы',
    source: 'src/img/icon/icon-lamp.png'
  },
  {
    id: 3,
    name: 'Дома',
    source: 'src/img/icon/icon-house.png'
  },
  {
    id: 4,
    name: 'Напряги',
    source: 'src/img/icon/icon-voltage.png'
  },
  {
    id: 5,
    name: 'Камеры',
    source: 'src/img/icon/icon-cctv.png'
  },
  
  {
    id: 6,
    name: 'Моющие сенсоры',
    source: 'src/img/icon/icon-motion-sensor.png'
  },
  {
    id: 7,
    name: 'Движки',
    source: 'src/img/icon/icon-engine.png'
  },
  {
    id: 8,
    name: 'Тахометры',
    source: 'src/img/icon/icon-tachometer.png'
  },
  {
    id: 9,
    name: 'Водяные головы',
    source: 'src/img/icon/icon-water-heater.png'
  },
  {
    id: 10,
    name: 'Полы',
    source: 'src/img/icon/icon-floor.png'
  },
  {
    id: 11,
    name: 'Фан',
    source: 'src/img/icon/icon-fan.png'
  }

]
</script>