<script setup>
// This starter template is using Vue 3 <scriptgit config --global user.email "you@example.com" setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import SideMenu from './components/SideMenu.vue'
import MainMenu from './components/MainMenu.vue'
</script>

<template>
  <div class="flex">
    <SideMenu class="py-4 "  />
    <MainMenu class="" />
  </div>
</template>


